<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="style/style.css" />
		<link rel="stylesheet" type="text/css" href="style/bootstrap.min.css" />
		<title>Compare Products</title>
	</head>
	<body ng-app="compare">
	<div ng-controller="compareCtrl">
		<h3>Compare Products</h3>

		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span4">
					<select ng-model="laptop1" class="selectList"
						ng-options="laptop.name for laptop in laptops | removeSelected:laptop2:laptop3">
						<option value="">-- Select product --</option>
					</select>
				</div>
				<div class="span4">
					<select ng-model="laptop2" class="selectList"
						ng-options="laptop.name for laptop in laptops | removeSelected:laptop1:laptop3">
						<option value="">-- Select product --</option>
					</select>
				</div>
				<div class="span4">
					<select ng-model="laptop3" class="selectList"
						ng-options="laptop.name for laptop in laptops | removeSelected:laptop2:laptop1">
						<option value="">-- Select product --</option>
					</select>
				</div>
			</div>
		</div>

		<div class="separator"></div>

		<div class="container-fluid">
			<div class="row-fluid">

				<comparison laptop="laptop1" ng-show="laptop1"></comparison>
				<comparison laptop="laptop2" ng-show="laptop2"></comparison>
				<comparison laptop="laptop3" ng-show="laptop3"></comparison>
				
			</div>
		</div>

		<script src="script/angular.min.js"></script>
		<script src="script/angular-resource.min.js"></script>
		<script type="text/javascript" src="script/compare.js"></script>
	</body>
</html>