.separator {
	width: 100%;
	margin-left: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 1px;
	background: #BFBFEC;
	border-bottom: 1px solid #B3E7C3;
}

.title {
	text-align: right;
}

.light {
	background-color: #E5E4E2;	
}

.dark {
	background-color: #B8AEAB;
}

.selectList {
	width: 100%;
}