<div class="span4 container-fluid">
	<div class="row-fluid light">
		<div class="span6 title">Price:</div>
		<div class="span6">£ {{laptop.price}}</div>
	</div>
	<div class="row-fluid dark">
		<div class="span6 title">Operating system:</div>
		<div class="span6">{{laptop.os}}</div>
	</div>
	<div class="row-fluid light">
		<div class="span6 title">Weight (kg):</div>
		<div class="span6">{{laptop.weight}}</div>
	</div>
	<div class="row-fluid dark">
		<div class="span6 title">Processor:</div>
		<div class="span6">{{laptop.processor}}</div>
	</div>
	<div class="row-fluid light">
		<div class="span6 title">Processor speed (GHz):</div>
		<div class="span6">{{laptop.processor_speed}}</div>
	</div>
	<div class="row-fluid dark">
		<div class="span6 title">Ram (GB):</div>
		<div class="span6">{{laptop.ram}}</div>
	</div>
	<div class="row-fluid light">
		<div class="span6 title">Type of storage:</div>
		<div class="span6">{{laptop.storage}}</div>
	</div>
	<div class="row-fluid dark">
		<div class="span6 title">Storage capacity (GB):</div>
		<div class="span6">{{laptop.capacity}}</div>
	</div>
</div>